<!DOCTYPE html>
<html>
    <head>
        <title>Web Form</title>
  <meta charset="UTF-8">
        <link href='/assets/form.css' rel='stylesheet' type='text/css'>

    </head>
    <body>

      <div id="header"><h1>Bookrent</h1></div>
            <div id="wrapper">
                <div id="inputs">
<form id= "Add book" method="GET" action="/submit">
  First name:<br>
  <input type="text" name="firstname"><br>
  Last name:<br>
  <input type="text" name="lastname"> <br>

 <label for="College_Year">College Year:</label><br>
 <select name="College_Year">
  <option value="1st">1st Year</option>
  <option value="2nd">2nd Year</option>
  <option value="3rd">3rd Year</option>
  <option value="4th">4th Year</option>
</select><br>
<br><input type="submit" value="Submit">

</form>
</div>
</body>
</html>
