<!DOCTYPE html>
<html>
    <head>
        <title>home</title>

        <link href='/assets/form.css' rel='stylesheet' type='text/css'>

    </head>
    <body>
      <div id="header"><h1>thanks for your contribution</h1></div>
      <p>you successfull submited <%= data.book_name%></p>
    </body>
    </html>
