<!DOCTYPE html>
<html>
    <head>
        <title>home</title>

        <link href='/assets/form.css' rel='stylesheet' type='text/css'>

    </head>
    <body>
      <div id="header"><h1>thanks for your contribution</h1></div>
      <% include partials/nav.ejs %>
      <form id= "thanks" method="get" action="/submit">
          <br><input type="submit" value="add another">
        </form>
    </body>
    </html>
